body {
    font-size: 14px;
    color: #2a2e31;
    background-color:#D5EAF9;
    font-family: verdana, helvetica, sans-serif;
    margin: 20px;
    padding:0;
}

h1{
    color: white;
    margin: 20px;
    padding: 40px;
}


p{ 
    text-align: center;
    letter-spacing: justified;
    margin: 5px;
    padding:2px;
}

li {
    color: #96CBF2;
    font-style: italic;
}

/*blue - #96CBF2, #D5EAF9
grey - #2a2e31*/
