/*https://www.noupe.com/design/building-an-interactive-navigation-bar-with-htmlcss-78732.html*/
/**/

body {
    width:100%;
    max-width:960px;
    margin: 0 auto;
    font-size: 14px;
    color: #2a2e31;
    background-color:#D5EAF9;
    font-family: helvetica, verdana, sans-serif;
    padding:0;
}

/*navigation styling*/
nav{
    width:100%;
    margin:20px 0;
    border-style: solid;
    border-width: 5px;
    background: #8FC1DC;
    color: #ffffff;
}
/*nav ul styling*/
nav ul{
    width:100%;
    list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-size: 15px;
    font-family: helvetica, verdana, sans-serif;
    font-style: bold;
}

/*nav li styling 20% because there are 5 elements 100% / 5 = 20*/
nav ul li{
    width:20%;
    float:left; /*will turn vertical list into horizontal*/
}

nav ul li a{
    text-align:center;
    padding:8px 0;
    display:block;
    width:100%;
    background: #8FC1DC;
}

h1{
    color: white;
    margin: 20px;
    padding: 40px;
}


p{ 
    text-align: center;
    letter-spacing: justified;
    margin: 5px;
    padding:2px;
}

li {
    color: #96CBF2;
    font-style: italic;
}

/* LINKS */
a{
    color:white;
    text-decoration: none;   
    text-align: center; 
    font-size: 15px;
    font-family: helvetica, verdana, sans-serif;
    font-style: bold;
}

/* selected link */
a:active {
    color: #2d3b45;
    text-decoration: none;
    text-align: center;
}

/* mouse over link */
a:hover {
    color: #2d3b45;
    text-decoration: none;
    text-align: center; 
}

/*
blue - #96CBF2, #D5EAF9
grey - #2a2e31
https://speckyboy.com/50-sites-with-pastelwashed-out-color-schemes/
*/
